// Media query pour la version Mobile 

// HEADER
@media screen and (max-width: 768px) {
    header {
        height: 65vh;
        padding: 60px 20px;
        flex-direction: column;
        gap: 10px;
    }

    header .container {
        padding: 0;
    }

    h1 {
        font-size: 2rem;
    }

    .planet-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        background-color: #1E3A8A;
        padding: 15px 0;

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        a {
            color: white;
            font-weight: bold;
            text-decoration: none;
            font-size: 1rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// A PROPOS
@media screen and (max-width: 768px) {
    #about .container {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
        height: auto;
    }

    #about {
        height: auto;
    }

    #about .about-text {
        order: 1; // texte passe en premier
        margin-top: 20px;
    }

    #about .about-image {
        order: 2; // image en bas
        justify-content: center;

        img {
            max-width: 300px;
            height: auto;
        }
    }

    #about .container .about-image img {
        margin-bottom: -40px;
    }

    #about h2 {
        font-size: 2rem;
    }

    #about p {
        font-size: 1rem;
    }
}

// Skills 
@media screen and (max-width: 768px) {
    #skills {
        padding: 0;
    }

    #skills h2 {
        font-size: 2.2rem;
        margin-top: 0;
        padding-top: 20px;
      }

    #skills .container {
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .skills-list .skill-category {
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100% !important; 
        box-sizing: border-box;
        border-left: none !important;
    }

    .skills-list .skill-category h3 {
        margin: 30px 0; //espacement 
    }

    .skill-names {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 0;
        list-style: none;

        li {
            flex: 0 1 auto;
            text-align: center;
            color: white;
            font-size: 1rem;
            margin: 0;
        }
    }

    .skill-icons {
        display: none;
    }
}

// PROJETS
@media screen and (max-width: 768px) {
    #projects {
      padding-top: 40px;
      padding-bottom: 60px;
    }
  
    #projects h2 {
      font-size: 2.2rem;
      margin-top: 0;
      padding-top: 0;
    }
  }

  @media screen and (max-width: 768px) {
    #project-container {
      flex-direction: column !important;
      align-items: center;
      gap: 20px;
    }
  
    .project {
      width: 90%; // pour qu’il ne soit pas collé aux bords
      max-width: 400px;
    }
  }  

  // CONTACT
  @media screen and (max-width: 768px) {
    #contacts form {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
      width: 90%;
    }
  }
  
  // Media query pour la version Tablette
   // HEADER
   @media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        height: auto;
        padding: 500px 20px;
        flex-direction: column;
        gap: 10px;
    }

    header .container {
        padding: 0;
    }

    h1 {
        font-size: 2rem;
    }

    .mobile-nav {
        display: none;
    }
}

// A PROPOS
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #about .container {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
        height: auto;
    }

    #about {
        height: auto;
    }

    #about .about-text {
        order: 1;
        margin-top: 20px;
        padding-right: 60px;
    }

    #about .about-image {
        order: 2; 
        justify-content: center;

        img {
            max-width: 300px;
            height: auto;
        }
    }

    #about .container .about-image img {
        margin-bottom: -40px;
    }

    #about h2 {
        font-size: 2rem;
    }

    #about p {
        font-size: 1rem;
    }
}

// Skills 
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #skills {
        padding: 0;
    }

    #skills h2 {
        font-size: 2.2rem;
        margin-top: 0;
        padding-top: 20px;
      }

    #skills .container {
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .skills-list .skill-category {
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100% !important; 
        box-sizing: border-box;
        border-left: none !important;
    }

    .skills-list .skill-category h3 {
        margin: 30px 0; 
    }

    .skill-names {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 0;
        list-style: none;

        li {
            flex: 0 1 auto;
            text-align: center;
            color: white;
            font-size: 1rem;
            margin: 0;
        }
    }

    .skill-icons {
        display: none;
    }
}

// PROJETS
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #projects {
      padding-top: 40px;
      padding-bottom: 60px;
    }
  
    #projects h2 {
      font-size: 2.2rem;
      margin-top: 0;
      padding-top: 0;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    #project-container {
      flex-direction: column !important;
      align-items: center;
      gap: 20px;
    }
  
    .project {
      width: 90%; 
      max-width: 600px;
    }
  }  

  // CONTACT
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    #contacts form {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
      width: 90%;
    }
  }