// Couleurs principales
$primary-color: #1E3A8A;  
$secondary-color: #FBBF24; 
$text-color: #333;
$background-color: #F9FAFB;

// Polices utilisées
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Orbitron', sans-serif;