// Couleurs principales
$primary-color: #000021;  
$secondary-color: #FBBF24; 
$text-color: #333;
$background-color: #F9FAFB;

// Polices utilisées
$font-primary: 'Orbit', sans-serif;
$font-secondary: 'Poppins', sans-serif;